apiVersion: v1
kind: Service
metadata:
  name: query-clusterip
spec:
  selector:
    app: query-app
  ports:
    - port: 4002
      name: intent-port
      targetPort: main-port

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: query-deployment-limited
spec:
  replicas: 1
  selector:
    matchLabels:
      app: query-app
  template:
    metadata:
      labels:
        app: query-app
    spec:
      containers:
        - image: blog-client
          ports:
            - containerPort: 4002
              name: main-port
          name: query-container
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "128Mi"
              cpu: "100m"
